body {
  margin: 0;
  Padding: 0;
}

#title {
  display: flex;
  flex: 1;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
}

.button-column {
  display: flex;
  flex-direction: column;
}

button {
  font-weight: bolder;
}

footer {
  text-align: center;
}